.wrapper {
    overflow: hidden;

    .screen_wrap {
        position: relative;
        left: -100vw;
        display: flex;
        background-image: url('../img/login_background.svg');
        background-size: 300vw 100vh;
        background-repeat: no-repeat;
        width: 300vw;
        transition: .8s;

        .screen {
            height: 100vh;
            min-width: 100vw;
        }

        .login {

            .login_header {
                margin: 14px 0 0 66vw;

                .help_button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .help_button_text {
                        margin-right: 10px;
                        color: #fff;
                    }
                }
            }

            .login_form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 35vh;

                .block_title {
                    margin-bottom: 58px;
                }

                .login_form-input {
                    border-bottom: 1px solid;
                    padding-bottom: 6px;
                    margin-bottom: 14px;
                }

                .pass_wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }

                .button_text {
                    color: #fff;
                    padding: 6px 32px;
                    border-radius: 3px;
                    margin: 58px 0 28px 0;
                }
            }
        }

        .welcome {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title_wrap {
                margin-top: 35vh;
                text-align: center;

                .block_title {
                    margin-bottom: 10px;
                }

                .subtitle_text {
                    max-width: 295px;
                }
            }

            .button_wrap {
                display: flex;
                align-items: center;
                margin-top: 20vh;

                .button {
                    padding: 4px 10px;
                    border-radius: 3px;
                }

                .more_text {
                    margin: 0 24px;
                }
            }
        }

        .signup {

            .login_header {
                margin: 14px 0 0 3vw;

                .help_button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .help_button_text {
                        margin-left: 10px;
                        color: #fff;
                    }

                    .arrow_back {
                        transform: rotateZ(180deg);
                    }
                }
            }

            .login_form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 35vh;

                .block_title {
                    margin-bottom: 58px;
                }

                .login_form-input {
                    border-bottom: 1px solid;
                    padding-bottom: 6px;
                    margin-bottom: 14px;
                }

                .pass_wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }

                .button_text {
                    color: #fff;
                    padding: 6px 32px;
                    border-radius: 3px;
                    margin: 58px 0 28px 0;
                }
            }
        }
    }
}