* {
    margin: 0;
    padding: 0;
    color: #192C4A;
    font-family: 'Raleway', sans-serif;
    //overflow-y: hidden;

    a {
        text-decoration: none;
    }

    button {
        cursor: pointer;
    }

    button,
    input {
        background: none;
        border: none;
        outline: none;
    }

    .search_input {
        border: 2px solid;
        width: calc(83vw - 10px);
        padding: 6px 10px;
        border-radius: 3px;
    }

    .navigation_text {
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
    }

    .block_title {
        font-weight: 500;
        font-size: 27px;
        line-height: 32px;
    }

    .button_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .help_button_text {
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
    }

    .explain_text,
    .explain_text::placeholder {
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        opacity: 1;
    }

    .navigation_text {
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
    }

    .city_title {
        font-weight: 500;
        font-size: 23px;
        line-height: 27px;
    }

    .main_plan_text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
    }

    .num_explain_text {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }

    .choose_plan_city_font {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .create_tour_text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .subtitle_text {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        min-width: 100vw;

        .nav_link-items {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 11px 0;

            .nav_link-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 24px;

                .nav_link-img {
                    width: 24px;
                }

                .nav_link-title {
                    color: #fff;
                    margin-top: 4px;
                }
            }
        }
    }

    .black {
        background: #192C4A;
        color: #fff;
    }

    .black_border {
        border-color: #192C4A;
    }

    .white {
        color: #fff;
    }
}

html {
    height: -webkit-fill-available;
}

body {
    height: -webkit-fill-available;
}