.wrapper {
    display: flex;
    flex-direction: column;
    padding: 4vh 9vw 0 9vw;

    .info_wrap {
        display: flex;
        margin-bottom: 9vh;

        .distance_wrap {
            display: flex;
            margin-right: 15vw;

            .button_text {
                margin-right: 5px;
            }
        }
    }

    .option_items {
        .option_item {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 10px;
            min-width: 82vw;

            .option_title_wrap {}

            .option_img {}

            .option_input_wrap {
                margin-top: 7.5px;

                .input {
                    width: 32vw;
                    border-bottom: 1px solid;
                    margin-right: 6vw;
                    border-color: #192b4833;
                    padding-bottom: 3px;
                }

                .input:focus {
                    border-color: #192b48;
                }

                .input:last-child {
                    margin-right: 0;
                }
            }
        }

        .inputs {
            cursor: auto;
        }
    }
}